<!--ul class="breadcrumb">
 <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
 <li class="breadcrumb-item"><a href="#!">Accueil</a></li>
</ul-->

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header text-center">
        <h3><i class="fas fa-hospital"></i> Bienvenue à l'Hôpital SEN WËRGÜ YARAM <i class="fas fa-hospital"></i></h3>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Actualité</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="card flat-card widget-primary-card">
              <div class="row-table">
                <div class="col-sm-3 card-body">
                  <i class="fa fa-user-injured"></i>
                </div>
                <div class="col-sm-9">
                  <h4>19</h4>
                  <h6>Nombre de patients consultés</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card flat-card widget-purple-card">
              <div class="row-table">
                <div class="col-sm-3 card-body">
                  <i class="fa fa-user-md"></i>
                </div>
                <div class="col-sm-9">
                  <h4>5</h4>
                  <h6>Tous les médecins</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card flat-card widget-purple-card">
              <div class="row-table">
                <div class="col-sm-3 card-body">
                  <i class="feather icon-star-on"></i>
                </div>
                <div class="col-sm-9">
                  <h4>4000 +</h4>
                  <h6>Ratings Received</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-primary">Bienvenue dans l'Application Hospitalière : SEN WËRGÜ YARAM </p>
            <p>
              Nous sommes ravis de vous accueillir dans notre application hospitalière dédiée à votre santé et à votre bien-être. Chez [Nom de l'Hôpital], nous nous engageons à vous offrir des soins de haute qualité et une expérience patient exceptionnelle.
            </p>

            <p>Notre application vous offre de nombreuses fonctionnalités pour simplifier votre parcours de soins :</p>

            <p class="text-info">- Prendre rendez-vous avec nos médecins spécialistes.</p>
            <p class="text-info">- Consulter vos résultats d'examens médicaux en toute sécurité.</p>
            <p class="text-info">- Recevoir vos dossiers médicaux et des notifications importantes pour votre santé.</p>
            <p class="text-info">- Accéder à des ressources d'information médicale pour mieux comprendre votre état de santé.</p>
            <p class="text-info">- Contacter notre équipe médicale en cas d'urgence.</p>

            Nous sommes là pour répondre à toutes vos questions et pour vous accompagner tout au long de votre traitement. Votre santé est notre priorité absolue, et nous mettons tout en œuvre pour vous assurer un séjour agréable et une guérison rapide.

            N'hésitez pas à explorer notre application et à utiliser ses fonctionnalités pour améliorer votre expérience hospitalière. Votre confort et votre bien-être sont notre mission.

            Merci de nous faire confiance. Nous sommes honorés de vous servir. <br>

            L'équipe de [Nom de l'Hôpital]
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-footer text-center">
        <div>
          <p>Merci d'avoir choisi notre établissement de soins de santé de qualité. Nous sommes là pour vous.</p>
          <p><i class="fas fa-phone"></i> Besoin d'aide ? Contactez-nous au <strong>77 090 65 38 / 70 319 99 35</strong>.</p>
          <p><i class="fas fa-clock"></i> Nos heures d'ouverture : Lundi - Dimanche, 8h00 - 20h00</p>
          <!-- Ajoutez d'autres informations utiles ici -->
        </div>
      </div>
    </div>
  </div>
</div>
