<ul class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/home/consultation/liste']">liste consultations</a></li>
</ul>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="row">
        <div class="col-md-4 col-xl-4">
          <div class="form-group ml-2 mt-2">
            <label for="inputAddress">Recherche</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
        </div>
        <div class="col-md-4 col-xl-2 mt-4 offset-6">
            <button [routerLink]="['/home/consultation/ajout']" class="btn btn-primary">Nouvelle consultation</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Liste des consultations</h5>
      </div>
      <div class="card-body">
            <div class="card-body table-border-style">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th hidden="hidden" >#</th>
                    <th>Details</th>
                    <th>Date de consultation</th>
                    <th>Synthèse</th>
                    <th>Type de consultation </th>
                    <th>Medecin</th>
                    <th>Rendez-vous</th>
                    <th>Patient</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cons of listeConsultation">
                      <td hidden="">{{ cons.idConsultation }}</td>
                      <td>
                        <a (click)="detailsConsultation(cons.idConsultation)" class="btn-sm btn-info text-white ml-2">
                          <i class="fa fa-eye"></i>
                        </a>
                      </td>
                      <td>{{cons.dateConsultation | date:("dd/MM/yyyy") }}</td>
                      <td>{{cons.synthese}}</td>
                      <td>{{cons.typeConsultation.typeConsultation }}</td>
                      <td>{{cons.medecin.prenom +" "+cons.medecin.nom}}</td>
                      <td>{{cons.rendezVouses.dateRDV | date:("dd/MM/yyyy") }}</td>
                      <td>{{cons.patient.prenom +" "+cons.patient.nom }}</td>
                      <td>
                        <a class="btn-sm btn-warning text-white">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn-sm btn-danger ml-2 text-white">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                  </tr>



                  </tbody>
                </table>
              </div>
            </div>

      </div>
    </div>
  </div>
</div>
